<!DOCTYPE html>
<html>
  <head>
    <title>Chu Bot: Index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <h3>
      List of animations to use with <pre>animate</pre>
    </h3>
    <span id="animlist"></span>
    <p>Bot hosted by <a href="https://twitter.com/1minusu">@minus</a></p>
    <p>
      Contributor: <a href="https://twitter.com/kikasurupizza">@Kikasuru</a>,
      <a href="https://twitter.com/soraboken">@soraboken</a>
    </p>
    <p style="font-size:14px">
      Last updated: 12/28/2020
    </p>
  </body>
  <script src="js/animlist.js"></script>
</html>
