<!DOCTYPE html>
<html>
  <head>
    <title>Chu Bot: Index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <h2>Chu Bot all commands:</h2>
    <div>
      <p>[All commands starts with <strong>%</strong> prefix!]</p>
<hr>
      <h3>slot</h3>
      <p>Start rolling a slot machine.</p>
<hr>
      <h3>sendchu {@username} [1-60] [anon]</h3>
<p>Send Chu Puyo to a person in DM.</p>
      <pre>{@username}: The user you want to send.
[1-60]: The amount of Chu Puyo you want to send.
[anon]: Send Chu Puyo anonymously.
      </pre>
<hr>
      <h3>ownacat</h3>
<p>Do you own a cat, or the cat own you?</p>
<hr>
      <h3>sayhi</h3>
      <p>You are very shy, ain't you?</p>
<hr>
    </div>
<pre>
{required} parameter, [optional] parameter.
</pre>
    
    <p style="font-size:14px">
      Last updated: 12/28/2020
    </p>
  </body>
</html>
